stacks/apps/node-red/flows/fireflies-bloodbank-example.json
[
  {
    "id": "tab_fireflies_upload",
    "type": "tab",
    "label": "Fireflies Upload",
    "disabled": false,
    "info": "Watch a directory, move media to public dir, upload to Fireflies, and publish Bloodbank event."
  },
  {
    "id": "watch_recordings",
    "type": "watch",
    "z": "tab_fireflies_upload",
    "name": "Watch recordings",
    "files": "/watch",
    "recursive": true,
    "x": 140,
    "y": 80,
    "wires": [
      [
        "filter_media"
      ]
    ]
  },
  {
    "id": "filter_media",
    "type": "switch",
    "z": "tab_fireflies_upload",
    "name": "Only media files",
    "property": "filename",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "\\.(mp3|wav|m4a|ogg|mp4|mov|mkv)$",
        "vt": "str",
        "case": false
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 350,
    "y": 80,
    "wires": [
      [
        "filter_events"
      ],
      []
    ]
  },
  {
    "id": "filter_events",
    "type": "switch",
    "z": "tab_fireflies_upload",
    "name": "File update only",
    "property": "event",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "update",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 560,
    "y": 80,
    "wires": [
      [
        "delay_settle"
      ]
    ]
  },
  {
    "id": "delay_settle",
    "type": "delay",
    "z": "tab_fireflies_upload",
    "name": "Wait for file write",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 790,
    "y": 80,
    "wires": [
      [
        "build_upload_context"
      ]
    ]
  },
  {
    "id": "build_upload_context",
    "type": "function",
    "z": "tab_fireflies_upload",
    "name": "Build upload context",
    "func": "const filePath = msg.filename || msg.payload;\nconst fileName = (filePath || '').split('/').pop();\nconst ext = (fileName || '').split('.').pop().toLowerCase();\nconst ts = new Date().toISOString().replace(/[:.]/g, '-');\nconst safeName = `${ts}-${fileName}`;\nconst publicDir = env.get('PUBLIC_DIR') || '/public';\nconst publicBase = env.get('PUBLIC_BASE_URL') || '';\nconst publicPath = `${publicDir}/${safeName}`;\nconst publicUrl = publicBase ? `${publicBase}/${safeName}` : publicPath;\n\nconst mimeMap = {\n  mp3: 'audio/mpeg',\n  wav: 'audio/wav',\n  m4a: 'audio/mp4',\n  ogg: 'audio/ogg',\n  mp4: 'video/mp4',\n  mov: 'video/quicktime',\n  mkv: 'video/x-matroska'\n};\n\n// Generate a UUID v4 without external modules\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nmsg.media = {\n  filePath,\n  fileName,\n  ext,\n  mime: mimeMap[ext] || 'application/octet-stream',\n  publicPath,\n  publicUrl,\n  eventId: uuidv4()\n};\n\n// Build mv command args as payload for exec node\nmsg.payload = `\"${filePath}\" \"${publicPath}\"`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1030,
    "y": 80,
    "wires": [
      [
        "move_file"
      ]
    ]
  },
  {
    "id": "move_file",
    "type": "exec",
    "z": "tab_fireflies_upload",
    "name": "Move to public dir",
    "command": "mv",
    "addpay": "payload",
    "append": "",
    "useSpawn": "false",
    "timer": "30",
    "winHide": false,
    "x": 1260,
    "y": 80,
    "wires": [
      [
        "prep_fireflies_upload"
      ],
      [
        "debug_move_err"
      ],
      []
    ]
  },
  {
    "id": "prep_fireflies_upload",
    "type": "function",
    "z": "tab_fireflies_upload",
    "name": "Prepare Fireflies upload",
    "func": "const media = msg.media || {};\nconst webhook = env.get('FIREFLIES_WEBHOOK_URL') || '';\nmsg.headers = {\n  'content-type': 'application/json',\n  'authorization': `Bearer ${env.get('FIREFLIES_API_KEY') || ''}`\n};\nmsg.payload = {\n  query: 'mutation($input: AudioUploadInput) { uploadAudio(input: $input) { success title message } }',\n  variables: {\n    input: {\n      url: media.publicUrl,\n      title: media.fileName,\n      webhook: webhook || undefined,\n      client_reference_id: media.eventId\n    }\n  }\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1510,
    "y": 80,
    "wires": [
      [
        "fireflies_upload_http"
      ]
    ]
  },
  {
    "id": "fireflies_upload_http",
    "type": "http request",
    "z": "tab_fireflies_upload",
    "name": "Fireflies uploadAudio",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://api.fireflies.ai/graphql",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 1760,
    "y": 80,
    "wires": [
      [
        "prep_bloodbank_upload_event"
      ]
    ]
  },
  {
    "id": "prep_bloodbank_upload_event",
    "type": "function",
    "z": "tab_fireflies_upload",
    "name": "Publish fireflies.transcript.upload",
    "func": "const media = msg.media || {};\nconst envelope = {\n  event_type: 'fireflies.transcript.upload',\n  event_id: media.eventId,\n  timestamp: new Date().toISOString(),\n  version: '1.0.0',\n  source: {\n    host: 'node-red',\n    type: 'file_watch',\n    app: 'node-red'\n  },\n  correlation_ids: [],\n  payload: {\n    media_file: media.publicUrl,\n    media_duration_seconds: 0,\n    media_type: media.mime,\n    title: media.fileName,\n    user_id: null,\n    created_at: new Date().toISOString()\n  }\n};\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = envelope;\nmsg.url = (env.get('BLOODBANK_HTTP_URL') || 'http://host.docker.internal:8682') + '/events/custom';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 2050,
    "y": 80,
    "wires": [
      [
        "bloodbank_publish_http"
      ]
    ]
  },
  {
    "id": "bloodbank_publish_http",
    "type": "http request",
    "z": "tab_fireflies_upload",
    "name": "Bloodbank publish",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 2270,
    "y": 80,
    "wires": [
      [
        "debug_upload_done"
      ]
    ]
  },
  {
    "id": "debug_move_err",
    "type": "debug",
    "z": "tab_fireflies_upload",
    "name": "Move error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 1280,
    "y": 140,
    "wires": []
  },
  {
    "id": "debug_upload_done",
    "type": "debug",
    "z": "tab_fireflies_upload",
    "name": "Upload flow complete",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 2270,
    "y": 140,
    "wires": []
  },
  {
    "id": "tab_fireflies_ready",
    "type": "tab",
    "label": "Fireflies Ready",
    "disabled": false,
    "info": "Receive Fireflies webhooks, fetch transcript, publish Bloodbank event, write CSV/Markdown."
  },
  {
    "id": "fireflies_webhook_in",
    "type": "http in",
    "z": "tab_fireflies_ready",
    "name": "Fireflies webhook",
    "url": "/webhooks/fireflies",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "fireflies_webhook_json",
        "webhook_ack"
      ]
    ]
  },
  {
    "id": "fireflies_webhook_json",
    "type": "json",
    "z": "tab_fireflies_ready",
    "name": "Parse webhook",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 360,
    "y": 60,
    "wires": [
      [
        "prep_transcript_query"
      ]
    ]
  },
  {
    "id": "webhook_ack",
    "type": "http response",
    "z": "tab_fireflies_ready",
    "name": "Ack",
    "statusCode": "200",
    "headers": {},
    "x": 360,
    "y": 110,
    "wires": []
  },
  {
    "id": "prep_transcript_query",
    "type": "function",
    "z": "tab_fireflies_ready",
    "name": "Prepare transcript query",
    "func": "const meetingId = msg.payload && (msg.payload.meetingId || msg.payload.meeting_id);\nif (!meetingId) {\n  node.error('Missing meetingId in webhook payload', msg);\n  return null;\n}\nmsg.headers = {\n  'content-type': 'application/json',\n  'authorization': `Bearer ${env.get('FIREFLIES_API_KEY') || ''}`\n};\nmsg.payload = {\n  query: `query Transcript($transcriptId: String!) {\n    transcript(id: $transcriptId) {\n      id\n      title\n      date\n      dateString\n      duration\n      transcript_url\n      audio_url\n      video_url\n      host_email\n      organizer_email\n      privacy\n      meeting_link\n      calendar_id\n      calendar_type\n      participants\n      speakers { name }\n      sentences {\n        index\n        speaker_name\n        speaker_id\n        text\n        raw_text\n        start_time\n        end_time\n        ai_filters {\n          task\n          pricing\n          metric\n          question\n          date_and_time\n          text_cleanup\n          sentiment\n        }\n      }\n      user { user_id email name num_transcripts minutes_consumed is_admin }\n      meeting_attendees { displayName email }\n      summary { overview short_summary }\n      meeting_info { fred_joined silent_meeting summary_status }\n    }\n  }`,\n  variables: { transcriptId: meetingId }\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 610,
    "y": 60,
    "wires": [
      [
        "fireflies_transcript_http"
      ]
    ]
  },
  {
    "id": "fireflies_transcript_http",
    "type": "http request",
    "z": "tab_fireflies_ready",
    "name": "Fetch transcript",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://api.fireflies.ai/graphql",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 840,
    "y": 60,
    "wires": [
      [
        "split_outputs"
      ]
    ]
  },
  {
    "id": "split_outputs",
    "type": "function",
    "z": "tab_fireflies_ready",
    "name": "Build CSV/MD + Bloodbank event",
    "func": "const transcript = msg.payload && msg.payload.data && msg.payload.data.transcript;\nif (!transcript) {\n  node.error('Transcript not found in response', msg);\n  return null;\n}\n\nconst safe = (transcript.title || transcript.id || 'transcript')\n  .toString().replace(/[^a-z0-9-_]+/gi, '_').slice(0, 80);\nconst baseDir = env.get('TRANSCRIPT_DIR') || '/transcriptions';\nconst basePath = `${baseDir}/${safe}-${transcript.id}`;\n\nconst sentences = transcript.sentences || [];\nconst csvRows = sentences.map(s => ({\n  index: s.index,\n  speaker: s.speaker_name || s.speaker_id,\n  start_time: s.start_time,\n  end_time: s.end_time,\n  text: s.text\n}));\n\nconst summaryText = (transcript.summary && (transcript.summary.overview || transcript.summary.short_summary)) || '';\nconst mdLines = [\n  `# ${transcript.title || transcript.id}`,\n  '',\n  transcript.dateString ? `Date: ${transcript.dateString}` : '',\n  transcript.duration ? `Duration (min): ${transcript.duration}` : '',\n  transcript.transcript_url ? `Transcript: ${transcript.transcript_url}` : '',\n  '',\n  summaryText ? '## Summary' : '',\n  summaryText || '',\n  '',\n  '## Transcript',\n  ...sentences.map(s => `- **${s.speaker_name || s.speaker_id}**: ${s.text}`)\n].filter(Boolean);\nconst mdContent = mdLines.join('\n');\n\nconst participants = (transcript.meeting_attendees || []).map(p => ({\n  name: p.displayName || p.name || 'Unknown',\n  email: p.email || null\n}));\nconst speakers = (transcript.speakers || []).map(s => s.name).filter(Boolean);\n\nconst envelope = {\n  event_type: 'fireflies.transcript.ready',\n  event_id: null,\n  timestamp: new Date().toISOString(),\n  version: '1.0.0',\n  source: {\n    host: 'node-red',\n    type: 'hook',\n    app: 'node-red'\n  },\n  correlation_ids: [],\n  payload: {\n    id: transcript.id,\n    title: transcript.title,\n    date: transcript.date,\n    duration: transcript.duration,\n    transcript_url: transcript.transcript_url,\n    audio_url: transcript.audio_url,\n    video_url: transcript.video_url,\n    sentences: transcript.sentences || [],\n    summary: summaryText || null,\n    participants: participants,\n    speakers: speakers,\n    user: transcript.user || {},\n    host_email: transcript.host_email,\n    organizer_email: transcript.organizer_email,\n    privacy: transcript.privacy,\n    meeting_link: transcript.meeting_link || null,\n    calendar_id: transcript.calendar_id || null,\n    calendar_type: transcript.calendar_type || null,\n    raw_meeting_info: transcript.meeting_info || null\n  }\n};\n\nconst msgCsv = { payload: csvRows, filename: `${basePath}.csv` };\nconst msgMd = { payload: mdContent, filename: `${basePath}.md` };\nconst msgEvent = {\n  payload: envelope,\n  headers: { 'content-type': 'application/json' },\n  url: (env.get('BLOODBANK_HTTP_URL') || 'http://host.docker.internal:8682') + '/events/custom'\n};\nreturn [msgCsv, msgMd, msgEvent];",
    "outputs": 3,
    "noerr": 0,
    "x": 1090,
    "y": 60,
    "wires": [
      [
        "csv_node"
      ],
      [
        "md_file"
      ],
      [
        "bloodbank_ready_http"
      ]
    ]
  },
  {
    "id": "csv_node",
    "type": "csv",
    "z": "tab_fireflies_ready",
    "name": "CSV",
    "sep": ",",
    "hdrin": true,
    "hdrout": "all",
    "multi": "one",
    "ret": "\\n",
    "temp": "",
    "skip": "0",
    "strings": true,
    "include_empty_strings": false,
    "include_null_values": false,
    "x": 1300,
    "y": 40,
    "wires": [
      [
        "csv_file"
      ]
    ]
  },
  {
    "id": "csv_file",
    "type": "file",
    "z": "tab_fireflies_ready",
    "name": "Write CSV",
    "filename": "",
    "filenameType": "msg",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "utf8",
    "x": 1480,
    "y": 40,
    "wires": [
      []
    ]
  },
  {
    "id": "md_file",
    "type": "file",
    "z": "tab_fireflies_ready",
    "name": "Write Markdown",
    "filename": "",
    "filenameType": "msg",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "utf8",
    "x": 1320,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "bloodbank_ready_http",
    "type": "http request",
    "z": "tab_fireflies_ready",
    "name": "Publish ready event",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "x": 1330,
    "y": 120,
    "wires": [
      [
        "debug_ready"
      ]
    ]
  },
  {
    "id": "debug_ready",
    "type": "debug",
    "z": "tab_fireflies_ready",
    "name": "Ready flow complete",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 1520,
    "y": 120,
    "wires": []
  }
]